html {
    background-image: url('background.jpg') !important;
    background-size: 100% 100% !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}